### 1. Student dictionary

In [ ]:
d={'Sanket':88,'Jarvis':95}
print(d['Jarvis'])

95

### 2. Names and percentage

In [ ]:
d={'Sanket':85.5,'Jarvis':92.0}
print(d)

{'Sanket': 85.5, 'Jarvis': 92.0}

### 3. Sum values

In [ ]:
d={'a':10,'b':20,'c':30}
print(sum(d.values()))

60

### 4. English-French

In [ ]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}
print(e2f)

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

### 5. TLD operations

In [ ]:
tlds={'Canada':'ca','United States':'us','Mexico':'mx'}
print('Canada' in tlds)
print('France' in tlds)
for k,v in tlds.items(): print(k,v)
tlds['Sweden']='sw'
tlds['Sweden']='se'
rev={v:k for k,v in tlds.items()}
print(tlds)
print(rev)

True
False
Canada ca
United States us
Mexico mx
{'Canada': 'ca', 'United States': 'us', 'Mexico': 'mx', 'Sweden': 'se'}
{'ca': 'Canada', 'us': 'United States', 'mx': 'Mexico', 'se': 'Sweden'}

### 6. Keys values items

In [ ]:
roman={'I':1,'II':2,'III':3,'V':5}
print(list(roman.keys()));print(list(roman.values()));print(list(roman.items()))

['I', 'II', 'III', 'V']
[1, 2, 3, 5]
[('I', 1), ('II', 2), ('III', 3), ('V', 5)]

### 7. Cubes

In [ ]:
print({x:x**3 for x in range(1,6)})

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

### 8. life dict

In [ ]:
life={'animals':{'cats':['Sanket','Jarvis','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}
print(life)

{'animals': {'cats': ['Sanket', 'Jarvis', 'Lucy'], 'octopi': {}, 'emus': {}}, 'plants': {}, 'other': {}}

### 9. Letter count

In [ ]:
s='mississippi';d={}
for ch in s:d[ch]=d.get(ch,0)+1
print(d)

{'m': 1, 'i': 4, 's': 4, 'p': 2}

### 10. Vowel count

In [ ]:
s='education';v='aeiou';d={}
for ch in s:
    if ch in v:d[ch]=d.get(ch,0)+1
print(d)

{'e': 1, 'u': 1, 'a': 1, 'i': 1, 'o': 1}

### 11. Number to words

In [ ]:
d={'0':'Zero','1':'One','2':'Two','3':'Three','4':'Four','5':'Five','6':'Six','7':'Seven','8':'Eight','9':'Nine'}
n='452'
print(' '.join(d[ch] for ch in n))

'4'

### 12. Duplicate words

In [ ]:
s='hello world hello'.lower().split();d={}
for w in s:d[w]=d.get(w,0)+1
print(d)

{'hello': 2, 'world': 1}

### 13. Unique words

In [ ]:
def unique_words(lst):return sorted({w.lower() for w in lst})
print(unique_words(['Sanket','sanket','Jarvis']))

['jarvis', 'sanket']

### 14. Unique chars

In [ ]:
s='Hello World!'
print(len(set(s)))

9

### 15. Craps placeholder

In [ ]:
print('Simulation placeholder')

Simulation placeholder

### 16. Set ops

In [ ]:
a={10,20,30};b={5,10,15,20}
print(a-b,a^b,a|b,a&b)

{30} {5, 30, 15} {20, 5, 10, 30, 15} {10, 20}

### 17. Compare sets

In [ ]:
a={'red','green','blue'};b={'cyan','green','blue','magenta','red'}
print(a<=b,a>=b,a|b,a&b,a-b,b-a)

True False {'red', 'magenta', 'cyan', 'blue', 'green'} {'red', 'blue', 'green'} set() {'cyan', 'magenta'}

### 18. analyze_sets

In [ ]:
def analyze_sets(l1,l2):
    s1,s2=set(l1),set(l2)
    sd=s1^s2
    res=[]
    for x in sd: res.append(x*2 if x%2==0 else x+5)
    return sorted(res)
print(analyze_sets([1,2,3],[3,4,5]))

[4, 6, 8, 10]

### 19. unique_pairs

In [ ]:
def unique_pairs(words):
    words=[w.lower() for w in words if len(w)>=4]
    res=set()
    for i in range(len(words)):
        for j in range(i+1,len(words)):
            if set(words[i]).isdisjoint(words[j]):res.add(tuple(sorted((words[i],words[j]))))
    return res
print(unique_pairs(['apple','dogs','bird','fish','zebra','lion']))

{('lion', 'zebra'), ('apple', 'dogs'), ('fish', 'zebra'), ('apple', 'bird'), ('dogs', 'zebra'), ('apple', 'fish')}

### 20. Update Mukesh

In [ ]:
sample_dict={'person1':{'name':'Bezos','net worth':21880},'person2':{'name':'Elon','net worth':31570},'person3':{'name':'Mukesh','net worth':965}}
sample_dict['person3']['net worth']=9650
print(sample_dict)

{'person1': {'name': 'Bezos', 'net worth': 21880}, 'person2': {'name': 'Elon', 'net worth': 31570}, 'person3': {'name': 'Mukesh', 'net worth': 9650}}